body {
  background-color:#dbe2ef;
}
hr{
  background-color:#dbe2ef;
  border-color: white;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 15%
}
h1{
  color: #3f72af;
}
h3{
  color: #3f72af;
}
h4{
  color: #3f72af;
}
